/******************************************/
/* style.css    Project: StarPM            */
/* Datum:    27.09.2023  Damian Roth      */
/*                                        */
/*                                        */
/******************************************/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;

    /* background-color: #333; */
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.editSpan{
    background-color: white;
    border-style: solid;
    border-width: 1pt;
    display: inline-block;
    width: 50pt;
    text-align: right;
}

a{
    font-family: Arial;
}
li a:hover {
    background-color:  rgb(199, 199, 199);
  }

body{
    background-color: aliceblue;
}

.info{
    background-color: whitesmoke;
    min-width: 200px;
    width: calc(100vw - 100);
    z-index: -3;
    padding: 50px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: visible;
}




h1 {
    font-family: Arial;
    font-size: 15pt;
    font-weight: 500;
}

h2 {
    font-family: Arial;
    font-size: 15pt;
}


h3 {

    font-family: Arial;
    font-size: 15pt;
    font-weight: 700;
}

p{
    font-family: Arial;
    font-size: 10pt;
}
label{
    font-family: Arial;
    font-size: 10pt;
}
.labelS{
    background-color: transparent;
    vertical-align: top;
    border: none;
    border-width: 0pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin: 2pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;

}
table {
    font-family: Arial;
    font-size: 10pt;
}

.MenuButton:active {
    background-color: beige;
}

.MenuButton:hover  {
    background-color:  rgb(199, 199, 199);
}
.MenuButton  {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 1pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin: 2pt;
    height: 14pt;
    width: 15pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}

.PlayButton:active {
    background-color: beige;
}

.PlayButton:hover  {
    background-color:  rgb(199, 199, 199);
}
.PlayButton  {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 0pt;
    border-radius: 1pt;
    color: black;
    padding: 0pt 0pt;
    height: 15pt;
    width: 15pt;
    margin: 0pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}

.menuImage  {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 0pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin: 2pt;
    height: 19pt;
    width: 20pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}

select:active{
    background-color:beige; 
 } 

select:hover {
    background-color: rgb(199, 199, 199);
}

select {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 1pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin: 2pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}

.button {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 1pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin-top: 2pt;
    margin-bottom: 2pt;
    margin-top: 2pt;
    margin-top: 2pt;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}

.button:hover {
    background-color:  rgb(199, 199, 199);
}

.button:active{
    background-color:beige; 
 } 


