



.header {
    visibility: hidden;
}

.navigation {
    background-color:  rgb(199, 199, 199);
    z-index: 9;
    overflow-x: hidden;
    overflow-y:hidden;
    position: fixed;
    height: 51;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 0px;
    border-width: 1px;
    border-color: black;
}

.content {
    padding-top: 30px;

    width: 100%;
    left: 0;
    right: 0;
    border-radius: 0;
    position: relative;
    height: calc(80vh);
    overflow-x: auto;
}

body{
    /*  overflow: hidden;*/
    
    overflow-x: hidden;
    overflow-y: scroll;
  } 

.centerContent{
    border-color: black;
    background-color: whitesmoke;
    border-bottom: 1px solid;
}


.editorFrame {
    top: 100pt;
    bottom: 0pt;
    left: 0pt;
    right: 0pt;
    
    width: calc(100vw * 3 );
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
}

.DView {
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: calc(100vh * 0.8);
    border-radius: 0;
    border-style: none;
    border-width: 2px;
    border-color: black;
    background-color: whitesmoke;
}
.readOnly{
    visibility: hidden;
} 
.footer {
    z-index: 9;
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    overflow: scroll;
    border-radius: 0;
    border-style: none;
    border-top: 1px solid;
    visibility: visible;
    border-color: black;
    text-align: right;
    color: lightblue;
    background: whitesmoke none;
}

p.errorMessage{
    font-size: 11px;
    color: red;
}
