/******************************************/
/* style.css    Project: StarPM            */
/* Datum:    27.09.2023  Damian Roth      */
/*                                        */
/*                                        */
/******************************************/

/* Style Scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;

    /* background-color: #333; */
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.editSpan{
    background-color: white;
    border-style: solid;
    border-width: 1pt;
    display: inline-block;
    width: 50pt;
    text-align: right;
}

a{
    font-family: Arial;
}
li a:hover {
    background-color:  rgb(199, 199, 199);
  }

body{
    background-color: aliceblue;
}

.info{
    background-color: whitesmoke;
    min-width: 200px;
    width: calc(100vw - 100);
    z-index: -3;
    padding: 50px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: visible;
}




h1 {
    font-family: Arial;
    font-size: 15pt;
    font-weight: 500;
}

h2 {
    font-family: Arial;
    font-size: 15pt;
}


h3 {

    font-family: Arial;
    font-size: 15pt;
    font-weight: 700;
}

p{
    font-family: Arial;
    font-size: 10pt;
}
label{
    font-family: Arial;
    font-size: 10pt;
}
.labelS{
    background-color: transparent;
    vertical-align: top;
    border: none;
    border-width: 0pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin: 2pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;

}
table {
    font-family: Arial;
    font-size: 10pt;
}

.MenuButton:active {
    background-color: beige;
}

.MenuButton:hover  {
    background-color:  rgb(199, 199, 199);
}
.MenuButton  {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 1pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin: 2pt;
    height: 14pt;
    width: 15pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}


.PlayButton  {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 0pt;
    border-radius: 1pt;
    color: black;
    padding: 0pt 0pt;
    height: 15pt;
    width: 15pt;
    margin: 0pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}


.PlayButton:active {
    background-color: beige;
}
.PlayButton:hover {
    border-width: 1pt;
}

.menuImage  {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 0pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin: 2pt;
    height: 19pt;
    width: 20pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}

select:active{
    background-color:beige; 
 } 

select:hover {
    background-color: rgb(199, 199, 199);
}

select {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 1pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin: 2pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}

.button {
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 1pt;
    border-radius: 5pt;
    color: black;
    padding: 5pt 5pt;
    margin-top: 2pt;
    margin-bottom: 2pt;
    margin-top: 2pt;
    margin-top: 2pt;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}

.button:hover {
    background-color:  rgb(199, 199, 199);
}

.button:active{
    background-color:beige; 
 } 


.fileHandler{
    display: block;
}

.fileLoadSelector{
    position:fixed;
    left: calc(100vw/2);
    top: calc(100vh/2);
    background-color: #727272;
    z-index: 999;
    padding: 10pt;
    border: solid;
}

.D3ViewTabButton{
    background-color: transparent;
    vertical-align: top;
    border: solid;
    border-width: 1pt;
    border-bottom-width: 0pt;
    border-top-right-radius: 5pt;
    color: black;
    padding: 2pt;
    height: fit-content;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;    
}
.D3ViewTabHead{
    height: 20pt;

}
.D3ViewTabBody{
    border: solid;
    border-top-width: 1pt;
    border-left-width: 0pt;
    border-bottom-width: 0pt;
    border-right-width: 0pt;
    position: absolute;
    top: 20pt;
    left: 0pt;
    right: 0pt;
    bottom: 0pt;
}
.D3ViewTabButtonInactive{
    color: rgba(57, 57, 57, 0.553);
}
.D3ViewTabButtonActive{
    color: black
}


.D3ViewTabButton:hover {
    background-color:  rgb(199, 199, 199);
}

.D3ViewTabButton:active{
    background-color:beige; 
 }

 #DView_Menu{
    height: 30pt;
 }
 #D3iew {
    top: 30pt;
    left: 0pt;
    right: 0pt;
    bottom: 0pt;
    position: absolute;
}
#container{
    top: 0pt;
    left: 0pt;
    right: 0pt;
    bottom: 0pt;
    position: absolute;
}

#D3ViewFrame {
    position: absolute;
    top: 0pt;
    left: 0pt;
    right: 0pt;
    bottom: 0pt;
}